<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atacama Rail</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Carousel CSS-->
    <link rel="stylesheet" href="../css/carousel.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../vendors/animate/animate.css">
    <!-- OWL Carousel CSS -->
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.css">

    <script src='../vendors/iconwc/iconwc.js'></script>
</head>
<body>
    
    <!-- INICIO Header -->
    <header>
        <nav id="navbar-frs" class="navbar navbar-expand-md navbar-dark fixed-top">
            <a href="/" class="navbar-brand"><span class="brand-full">ATACAMA</span> <span class="brand-service">RAIL</span></a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a data-scroll href="#inicio" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll href="#quienes-somos" class="nav-link">¿Quienes somos?</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll href="#nuestros-servicios" class="nav-link">Nuestros servicios</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll href="#empresas-confiaron" class="nav-link">Empresas</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll href="#contacto" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div> 
        </nav>
    </header>
    <!-- FIN Header -->

    <!-- MAIN -->
    <main role="main">
        <!-- Inicio Carrusel -->
        <div id="inicio">
            <h1 class="text-inicio animated fadeIn">Ingeniería, Servicio Técnico, Reparación y Post Venta para el <span class="enfasis"><br> Mercado Ferroviario</span></h1>   
           
            <div class="text-center animated infinite pulse" >
                <svg-icon><src href="../icons/si-glyph-arrow-down.svg" /></svg>
            </div>
        </div>
        <!-- FIN Inicio Carrusel -->
        
        <div class="container marketing">
            <!-- INICIO Quienes Somos-->
            <section id="quienes-somos">
                <h1 class="text-center">¿Quiénes somos?</h1>

                <div class="mb-1">
                    <img src="../images/logo.png" alt="logo" class="img-logo" id="img-logo-1">
                    <img src="../images/logo-quien.png" alt="logo" class="img-logo" id="img-logo-2">
                </div>
                <p class="text-grande">
                    Es una empresa creada para brindar <span class="enfasis">servicios técnicos, 
                    ingeniería y post venta</span> para el <span class="enfasis">Mercado Ferroviario</span>. 
                    Abordamos los proyectos en forma integral a través de la planificación de tareas,
                    brindando soluciones a medida para cada cliente. 
                    De este modo buscamos dar respuesta a los desafíos en relación a los activos 
                    como <span class="enfasis">Locomotoras, DMU, EMU y Coches Remolcados</span>, cubriendo las necesidades operativas, 
                    comerciales, logísticas, de mantenimiento entre otras. Debido a la basta <span class="enfasis">experiencia y 
                    conocimiento</span> del mercado ferroviario argentino hace que nuestros clientes nos elijan 
                    para sus proyectos. 
                </p>
            </section>
            <!-- FIN Quienes Somos-->
            <!-- INICIO Trabajos-->
            <div id="nuestros-servicios">
                <hr class="featurette-divider">
                <p class="text-grande text-center">Nuestros trabajos</p>
                <section class="row featurette carousel-seccion">
                    <div id="carouselTrabajos" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselTrabajos" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselTrabajos" data-slide-to="1"></li>
                          <li data-target="#carouselTrabajos" data-slide-to="2"></li>
                          <li data-target="#carouselTrabajos" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner py-2 px-2">
                          <div class="carousel-item active">
                                <img src="../images/carousel/carousel1.jpg" class="d-block mx-auto img-fluid" alt="...">
                            
                          </div>
                          <div class="carousel-item">
                                    <img src="../images/carousel/carousel2.jpg" class="d-block mx-auto img-fluid" alt="...">
                                
                          </div>
                          <div class="carousel-item">
                                    <img src="../images/carousel/carousel3.jpg" class="d-block mx-auto img-fluid" alt="...">
                               
                          </div>
                          <div class="carousel-item">
                                <img src="../images/carousel/carousel4.jpg" class="d-block mx-auto img-fluid" alt="...">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselTrabajos" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselTrabajos" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Siguiente</span>
                        </a>
                      </div>
                </section>
                <p class="text-grande">
                        <span style="color: #BF4B21; font-weight: 800">FERRONOR.</span><br>
                        Cableado y instalación de equipo <span class="enfasis">NEXYS III</span> y pruebas de funcionamiento en 
                        locomotoras <span class="enfasis"> GR 12  - N 401 y 418</span>. 
                        Primer sistema de esta generación instalado en chile
                </p>
            </div>
                <!-- FIN Nuestros Servicios-->
            <!-- INICIO Nuestros Servicios-->
            <div id="empresas-confiaron">
                <hr class="featurette-divider">
                <p class="text-grande text-center">Empresas que confiaron en nuestros servicios</p>
                
                
                <div class="text-center">
                        <div class="row w-100 mx-auto justify-content-md-center">
                                <div class="col-xs-12 col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../images/empresas/cyc-logo.png"
                                        alt="Card image cap">
                                        <div class="card-body">
                                        <h4 class="card-title font-weight-bold"><a href="#">CYC Industrial</a></h4>
                                            <ul class="list-group list-empresas list-group-flush">
                                                <li class="list-group-item">Servicios para el sector ferroviario</li>
                                                <li class="list-group-item">Fabricación de vagones</li>
                                                <li class="list-group-item">Reingeniería de equipos</li>
                                                <li class="list-group-item">Mantenimiento de vía</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="../images/empresas/zhuzhou-logo.png"
                                        alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title font-weight-bold">Zhuzhou TMT</h4>
                                            <ul class="list-group list-empresas list-group-flush">
                                                <li class="list-group-item">Piezas de caucho metal (suspensión secundaria, primaria, otros)</li>
                                                <li class="list-group-item">Bujes</li>
                                                <li class="list-group-item">Componentes eléctricos</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                        <div class="card mb-2">
                                        <img class="card-img-top" src="../images/empresas/tinjun-logo.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title font-weight-bold">Tian Jun Machinery</h4>
                                            <ul class="list-group list-empresas list-group-flush">
                                                <li class="list-group-item">Ruedas</li>
                                                <li class="list-group-item">Ejes</li>
                                                <li class="list-group-item">Acoples</li>
                                                <li class="list-group-item">Bogies</li>
                                            </ul>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                        <div class="card mb-2">
                                        <img class="card-img-top" src="../images/empresas/frs-logo.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title font-weight-bold">Full Rail Service</h4>
                                            <ul class="list-group list-empresas list-group-flush">
                                                <li class="list-group-item">Servicios para el sector ferroviario</li>
                                                <li class="list-group-item">Mantenimiento de equipos</li>
                                                <li class="list-group-item">Venta de insumos de vía para el sector ferroviario (eclisas. Rieles, otros)</li>
                                            </ul>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                        <div class="card mb-2">
                                        <img class="card-img-top" src="../images/empresas/zhuzhou-logo.png"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title font-weight-bold">CRRC Dalian</h4>
                                            <ul class="list-group list-empresas list-group-flush">
                                                <li class="list-group-item">Fabricación de locomotoras, DMU</li>
                                                <li class="list-group-item">Motores diesel</li>
                                                <li class="list-group-item">Repuestos de locomotoras</li>
                                            </ul>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="../images/empresas/dkf-logo.png"
                                            alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title font-weight-bold">DFK Ingeniería</h4>
                                                <ul class="list-group list-empresas list-group-flush">
                                                    <li class="list-group-item">Servicios para el sector ferroviario</li>
                                                    <li class="list-group-item">Mantenimiento de equipos</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- FIN MAIN -->
    <!-- FOOTER -->
    <footer>
        <!-- INICIO Contacto-->
        <section id="contacto">
            <h1 class="text-center">Contacto</h1>
            <div class="row divContacto">
                <div class="col-sm-12 col-md-7 formContacto order-xs-2">
                    <p>
                        Si está buscando soluciones para mejorar la productividad, 
                        la integración y el retorno de las inversiones en un ferrocarril, contáctenos.
                    </p>
                    <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="formContacto" class="needs-validation" novalidate>
                            <div class="form-group row">
                                <label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese nombre" required>
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese nombre.
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="txtEmail" placeholder="Ingrese email" required>
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese email.
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtMensaje" class="col-sm-2 col-form-label">Mensaje</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="txtMensaje" placeholder="Ingrese mensaje" rows="3" required></textarea>
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese mensaje.
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nospam" class="escondido">¡Si ves esto, no llenes el siguiente campo!</label>
                                <input name="nospam" class="escondido" />
                            </div>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-danger btn-block" id="btnEnviar">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
                <div class="col-sm-12 col-md-3 order-xs-1 contactoDatos">
                    <div class="contactoEmail">
                        <p><b>Conectate con nosotros</b></p> 
                        <span>Nuestro emails:</span><br>
                        <span><a href="mailto:mfernandez@atacamarail.com" class="">Argentina</a></span><br>
                        <span><a href="mailto:spino@atacamarail.com" class="">Chile</a></span>
                    </div>
                    <hr>
                    <div>
                        <p><b>Teléfono</b></p>
                        <span>Argentina: +54 9 11 53481114</span><br>
                        <span>Chile: +56 9 32433160</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- FIN Contacto -->
        <section class="final pt-3 pb-3">
           <span>© 2019 Atacama Rail | Hecho por <a href="mailto:franco.manzanares@gmail.com">Franco Manzanares</a></span>
        </section>
    </footer>
    <!-- FIN FOOTER-->

    <!-- MODALS -->

    

    <script src='../vendors/jquery/jquery.min.js'></script>
    <script src='../vendors/popper/popper.min.js'></script>
    <script src='../vendors/bootstrap/js/bootstrap.min.js'></script>
    <script src="../js/navbar-scroll.js"></script>
    <script src="../vendors/smoothscroll/smoothscroll.min.js"></script>
    <script src="../vendors/owl-carousel/owl.carousel.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>